.block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.block {
  margin-bottom: 20px;
}
.hr{
  margin-bottom: 20px!important;
}
.tf {
  min-width: 30%!important;
}
.sv {
  height: 10px;
}
