.card {
  position: relative;
  max-width: 30%;
  margin-bottom: 30px;
}
.date{
  display: flex;
  align-items: center;
  gap: 8px;
  color:  #363636;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.6;
  text-align: left;
}
.rm {
  //position: absolute;
  //bottom:20px;
  //left:10px;
  display: flex;
  align-items: center;
  gap:5px;
  text-align: left;
}
@media screen and (max-width: 1058px) {
  .card {
    max-width: 45%;
  }
}
@media screen and (max-width: 750px) {
  .card {
    max-width: 100%;
  }
}
